@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  color: #fff;
  font-family: 'Arial', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-urbanist), sans-serif;
}

main {
  min-height: 100vh;
}

.glass-panel {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: #8f3232;

}

@layer utilities {
  .text_balance {
    text-wrap: balance;
  }
}